body {
    font-family: Arial, sans-serif;
    background-color: #9fd0ee;
    text-align: center;
}

.calculator{
    text-align: center;
}

.formula {
    margin-bottom: 20px;
}

img {
    width: 150px;
    border: 1px solid #ddd;
    padding: 5px;
}

label {
    display: block;
    margin-bottom: 20px;
    color: #5613dd;
}
h2{
    color: #4d3e6b;
}
h3{
    color: #4d3e6b;
    text-align: justify;
}

input[type="number"] {
    width: 13%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.bot{
    text-align: center;
    justify-content: center;
}

button {
    background-color: #8d94db;
    color: #1a1623;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #9a8fc8;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
